#nav-app {
  display: block;
}

#description-app {
  display: block;
}

#booker-app {
  display: block;
}

#reviews-app {
  display: block;
}

#gallery-app {
  display: block;
}

#related-listings-app {
  display: block;
}

/* #Related {
  margin: 10%;
  display: block;
} */